
.player {
	width: 300px;
}


.duration-container {
	display: flex;
	justify-content: space-between;
}

.progress-container {
	position: relative;
	margin: 10px 0;
	width: 100%;
	height: 5px;
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.progress {
	height: 100%;
	width: 0;
	background-color: blue;
}

.progress-container .ball {
	position: absolute;
	top: -30%;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: blue;
	border-radius: 50%;
}

.controls {
	display: flex;
	justify-content: center;
}

.controls button {
	margin: 0 5px;
}